<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Logowanie</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Witaj!</h1>
      <p>Podaj swoje imię, aby przejść dalej:</p>
      <form action="/login" method="POST">
        <input type="text" name="name" placeholder="Twoje imię" required />
        <button type="submit">Zaloguj się</button>
      </form>
    </div>
  </body>
</html>
